* { 
	box-sizing: border-box;
}

header {
    font-family: 'Shrikhand', sans-serif;
}

.headerContainer {
    background-color: #3d5c6e;
    display: flex;
    justify-content: space-between;
    height: 7rem;
    color: #e2bb54;
    flex-direction: row;
    
    
}

.titleContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    padding: 0;
    margin: 0 0 0 1rem;
    
}

.titles {
    font-weight: normal;
}

h1, h2 {
    margin: 0;
}

.navContainer {
    display: flex;
    height: 7rem;
    flex-grow: 1;
    justify-content: space-evenly;
    text-align: center;
    vertical-align: middle;
    line-height: 7rem;
    
}

a {
    text-decoration: none;
    font-weight: lighter;
}

#home {
    background-color: #718f94;
    color: #e2bb54;
    flex-grow: 1;
}

#logIn {
    background-color: #8a3518;
    color: #e2bb54;
    flex-grow: 1;
}

#favorites {
    background-color: #606b4d;
    color: #e2bb54;
    flex-grow: 1;
}