@media (min-width: 768px) {
    /* .resultsGrid {
    } */
    .resultContainer {
        position: relative;
        transform-style: preserve-3d;
        transition: all 0.5s ease-out;
        /* max-height: 100%; */
    }
    .resultsContent {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        background-color: #718f94;
        /* background-color: #8a3518; */
        padding: 5px;
        backface-visibility: hidden;
        text-align: center;
        position: relative;
        top: 0;
        left: 0;
        border-radius: 10px;
        height: 100%;
    }
    .resultImage {
        position: relative;
    }
    .resultTitle {
        position: absolute;
        top: 5px;
        width: 100%;
        left: 5px;
        justify-content: center;
    }
    .extendedIngredientsList {
        color: black;
    }
    .missingIngredientLabel {
        position: absolute;
        bottom: 5px;
        width: 100%;
        left: 5px;
        justify-content: center;
    }
    .moreDetailsContainer {
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px;
        backface-visibility: hidden;
        /* background-color: #8a3518; */
        background-color: #718f94;
        /* text-align: center; */
        transform: rotateY(180deg);
        overflow-y: auto;
        overflow-x: hidden;
        height: 231px;
        width: 312px;
    }
    .moreDetailsContainer img {
        transform: rotateY(180deg);
        opacity: 0.15;
        position: absolute;
        height: 231px;
        width: 312px;
    }
    .flip-tile {
        transform: rotateY(180deg);
    }
    .grid {
        display: grid;
        grid-auto-flow: row;
        padding: 4px 4px;
        /* width: 66vw; */
        /* grid-template-columns: repeat(3, 1fr); */
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 15px;
    }
    .grid>* {
        grid-column-end: span 1;
        grid-row-end: span 1;
    }
}