* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Shrikhand', sans-serif; */
}

@font-face {
    font-family: Voga;
    src: url(./assets/fonts/Voga-Bold.ttf) format("truetype");
}

@font-face {
    font-family: League-Spartan;
    src: url(./assets/fonts/league-spartan.bold.ttf) format("truetype");
}

@font-face {
    font-family: Lora;
    src: url(./assets/fonts/Lora-Italic.ttf) format("truetype");
}


/* 
.lineAccent {
    width: 50%;
    align-self: center;
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
    filter: brightness(2);
    filter: saturate(5);
    filter: hue-rotate(-20deg);
} */

.searchFormTitle {
    font-family: Voga;
    text-transform: uppercase;
    font-weight: 800;
    align-self: center;
}

.searchLineAccent {
    width: 150px;
    align-self: center;
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
    filter: brightness(2.5);
    filter: saturate(4);
    filter: hue-rotate(-13deg);
}

.searchFormContainer {
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 50%; */
    display: flex;
    width: 50%;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
    position: relative;
    min-width: 90vw;
    font-family: Simplifica;
    /* text-transform: uppercase; */
    /* letter-spacing: 2px; */
}

::selection {
    /* color: #fff; */
    background-color: #718f94;
}

.wrapper {
    /* max-width: 450px; */
    max-width: 80%;
    margin: 20px 20px;
}

#plusButton {
    width: 20px;
    height: 20px;
    margin: 15px 10px ;
}

.wrapper .searchInput {
    /* background: rgb(228, 219, 219); */
    background-color: rgba(235, 235, 241, 0.8);
    width: 280px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.searchInput {
    display: flex;
    letter-spacing: 1px;
}

::placeholder {
    /* font-family: Simplifica; */
    /* font-family: Lora; */
    letter-spacing: .5px;
    font-size: 15px;
    /* text-transform: uppercase; */
}

.searchInput input {
    height: 55px;
    width: 90%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    /* font-family: Simplifica; */
    font-family: Lora;
    letter-spacing: 1px;
    font-size: 20px;
}

.searchInput.active input {
    border-radius: 5px 5px 0 0;
}

.wrapper {
    /* color: black; */
}

.searchInput img {
    margin-top: 10px;
    margin-left: 5px;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    /* color: #644bff; */
    cursor: pointer;
}

.searchQueryContainer {
    display: flex;
    background-color: rgba(10, 10, 19, 0.7);
    padding: 10px;
    width: 300px;
    max-width: 90%;
    flex-direction: column;
    border-radius: 10px;
}

.ingredientsContainer {
    display: flex;
    background-color: white;
    color: rgb(4, 2, 14);
    flex-direction: column;
    height: 30vh;
    border-radius: 4px;
}

.ingredientsContainer ul {
    list-style-type: none;
}

.ingredientsContainer li {
    padding-left: 10px;
    display: block;
    font-size: 20px;
}

.searchQueryContainer button {
    align-self: center;
    max-width: 200px;
    margin: 10px 0px;
}

.ingredientsList img {
    padding-top: 4px;
    margin-left: 8px;
    height: 24px;
    width: 20px;
    cursor: pointer;
}

.ingredientsList {
    overflow-y: auto;
    max-height: 350px;
}

.ingredientsContainerTitle {
    padding-bottom: 6px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.ingredientItem {
    font-family: Lora;
}

#removeAllButton {
    /* border-radius: 4px; */
    /* margin: 4px; */
    padding: 5px;
    cursor: pointer;
    /* background: rgb(248, 248, 248); */
    background: transparent;
    font-family: Simplifica;
    letter-spacing: 1.3px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

#removeAllButton {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#removeAllButton p {
    color: white;
    position: relative;
    transition: all .45s ease-Out;
}

#underline {
    width: 100%;
    height: 3px;
    margin-top: 15px;
    align-self: flex-end;
    left: -200px;
    background: #BFC0C0;
    position: absolute;
    transition: all .3s ease-Out;
    bottom: 0;
}

#removeAllButton:hover #underline {
    left: 0;
}


/* Desktop */

/* @media (min-width: 1024px) {
    .searchLineAccent {
        width: 250px;
    }
} */

@media (min-width: 768px) {
    .searchFormContainer {
        min-width: 33vw;
        max-width: 33vw;
        height: 100%;
        padding: 8px 20px;
    }
    .searchFormTitle {
        font-size: 60px;
        letter-spacing: 6px;
    }
    .searchQueryContainer {
        width: 100%;
    }
    .wrapper .searchInput {
        width: 100%;
    }
    .searchLineAccent {
        width: 275px;
    }
    ::placeholder {
        /* font-family: Simplifica; */
        /* font-family: Lora; */
        letter-spacing: .5px;
        font-size: 22px;
        /* text-transform: uppercase; */
    }
}

